pool:
  vmImage: 'ubuntu-18.04'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '13.x'
  displayName: 'Install Node.js'

- script: |
    npm install
    npm run build
  displayName: 'npm install and build'

- task: TfxInstaller@3
  inputs:
    version: 'v0.11.x'
- task: PackageAzureDevOpsExtension@3
  inputs:
    outputPath: $(build.stagingDirectory)
    extensionVersion: 0.9.$(Build.BuildId)
    extensionVisibility: private_preview
    updateTasksVersion: true
    updateTasksVersionType: patch

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: $(Build.StagingDirectory)
    ArtifactName: extension